/* RESET CSS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ******************** GENERAL ******************** */

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("/img/bcg-img/zeldaBg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  color: white;
  height: 100vh;
}

.btn {
  width: 75px;
  height: 40px;
  font-size: 1em;
  color: #ff8702;
  background-color: transparent;
  border: 2px solid #ff8702;
  border-radius: 4px;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  border: 2px solid #ff8702;
  color: rgb(26, 26, 26);
  background: #ff8702;
}

.hover {
  transition: 0.5s;
}
.hover:hover {
  color: #ff8702;
  cursor: pointer;
}


/* ******************** MENU ******************** */

.menu-area {
  background-color: rgb(26, 26, 26);
  height: 60px;
  color: white;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  font-weight: 700;
  font-size: 1.5em;
  z-index: 900;
  box-shadow: 0 1px 2px rgb(26, 26, 26);
}

.navbar-container-sm {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.navbar-container-md {
  display: none;
}

.menu-area h1 {
  margin-top: -2px;
}

.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.2s, background 0.3s, color 0.3s;
}

.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -60px);
  -webkit-transition: -webkit-transform 0.2s, background 0.3s, color 0.3s,
    opacity 0 0.3s;
}

#menuToggle {
  display: none;
}

.open {
  background-color: white;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: "";
  background-color: white;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: white;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 10px;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34);
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 45px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: inherit;
  padding: 10px 0;
}

.menu ul li {
  margin-bottom: 20px;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 10;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}


/* ******************** CONTENT ******************** */

.main-container {
  width: 90%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-box {
  background-color: rgba(26, 26, 26, 0.952);
  width: 95%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 8px;
  transition: 0.5s;
}

.card-box:hover {
  cursor: pointer;
}

.card-img-area {
  width: 100%;
  height: 170px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 5px;
  padding-left: 5px;
}

.card-bottom {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

/* FOCUS */

.card-box:focus {
  outline: none;
  box-shadow: 0 0 5px 8px #ff8902dc;
}

.main-container:focus-within>.card-box:not(:focus) {
  filter: grayscale(48%) brightness(0.5);
}


/* ******************** RESPONSIVE ******************** */
/* TABLETTE */
@media screen and (min-width: 576px) {
  .main-container {
    width: 95%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-box {
    width: 210px;
  }

  .card-title {
    font-weight: 700;
    font-size: 0.9em;
  }

  .card-bottom {
    margin-top: 10px;
  }

  .btn {
    height: 30px;
  }

}

/* DESKTOP */
@media screen and (min-width: 769px) {
  
  /* NAVBAR */
    /* RESET NAVBAR MOBILE / IPAD */
    .navbar-container-sm {
      display: none;
    }
    .menuOpen {
      display: none;
    }

    /* DESKTOP STYLE  */
    .menu-area {
      justify-content: center;
    }

    .navbar-container-md {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .navbar-md-right {
      display: flex;
      font-size: 0.7em;
      font-weight: 300;
      font-weight: bold;
    }
    
    .navbar-md-right li {
      margin-left: 15px;
    }


    /* CONTENT */
    .main-container {
      width: 82%;
      padding-left: 1%;
      padding-right: 1%;
      margin-top: 110px;
    }

    .card-box {
      width: 97%;
      height: auto;
      display: flex;
      position: relative;
      font-size: 1.5em;
      margin-bottom: 15px;
      transition: 0.5s;
    }
    /* .card-box:hover {
      width: 100%;
    } */
    .card-img-area {
      width: 250px;
      height: 125px;
    }
    .card-title {
      margin-left: 10px;
      font-weight: normal;
    }
    .card-bottom {
      position: absolute;
      right: 20px;   
      bottom: 20px;
      font-weight: 700;
    }
    .card-btn {
      margin-left: 15px;
      width: 85px;
      height: 45px;
    }
}

@media screen and (min-width: 1200px) {
  .navbar-container-md {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-container {
    width: 52%;
  }
  /* .card-box:hover {
    width: 100%;
  } */
}